/* Common CSS */
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.btn-primary {
    background-color: rgb(6, 17, 234);
}

.blue-text {
    color: rgb(6, 17, 234) !important;
}

.logo {
    width: 300px;
}

.small-text {
    font-size: 14px;
}

.card {
    border: none;
}

.extra-padding-left-right {
    padding: 0 80px;
}

@media only screen and (max-width: 960px) {
    .extra-padding-left-right {
        padding: 0;
    }

    .container {
        padding: 10px;
    }
}

.extra-bold {
    font-weight: 900;
}

a {
    text-decoration: none;
}

.border-radious {
    border-radius: 10px;
}

.silver-text {
    color: rgb(204, 201, 201);
}

.text-justify {
    text-align: justify;
}

.extra-margin-left {
    margin-left: 120px;
}

@media only screen and (max-width: 992px) {
    .extra-margin-left {
        margin-left: 0;
    }
}

/* Navbar CSS */
header .logo-text {
    font-size: 12px;
    margin: 0;
    font-family: 'Sofia', cursive;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    padding-right: 60px;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    .navbar-brand {
        margin: auto;
    }

    .navbar-brand .logo {
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .navbar-brand .logo-text {
        text-align: center;
        margin-bottom: 10px;
    }
}

/* Tool Tip */
.tooltip-inner {
    background-color: white;
    color: black;
    border: 1px solid #E3E3E3;
    text-align: left;
    padding: 20px;
    max-width: 380px;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom: 10px solid rgb(236, 236, 236);
}

/* Branding CSS */
.branding a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.juice-image {
    width: 605px;
    height: 586px;
}

.emoji {
    width: 37px;
    height: 37px;
}

@media only screen and (max-width: 600px) {
    .branding .card-title {
        font-size: 22px;
    }

    .branding .card-text {
        font-size: 18px !important; 
    }

    .emoji {
        width: 30px;
        height: 30px;
    }

    .branding-text {
        margin-left: 20px;
    }
}


@media only screen and (max-width: 992px) {
    .branding {
        text-align: left;
    }

    .juice-image {
        width: 100%;
        height: 100%;
    }
}

.branding {
    position: relative;
}

.branding .wave-1 {
    position: absolute;
    bottom: 155px;
    left: 110px;
}

.branding .wave-2 {
    position: absolute;
    bottom: 100px;
    left: 250px;
}

.branding .wave-3 {
    position: absolute;
    bottom: 180px;
    left: 400px;
}


/* Icons CSS */
.header-icon {
    width: 55x;
    height: 55px;
}

.element-position {
    position: relative;
    right: 135px;
}

@media only screen and (max-width: 768px) {
    .element-position {
        position: static;
    }

    .icons .card-title {
        font-size: 13px;
    }

    .icons .card-text {
        font-size: 10px;
    }
}

@media only screen and (min-width: 769px)  and (max-width: 992px) {
    .element-position {
        position: static;
    }

    .icons .card-title {
        font-size: 14px;
    }

    .icons .card-text {
        font-size: 12px;
    }
}

/* Product or Service CSS */
.product-or-service {
    padding: 100px 0;
}

/* Banner Picture one CSS */ 
.banner-picture-one {
    padding-bottom: 150px;
}

/* Branding Strategy CSS */
.icon {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 760px) {
    .branding-strategy h4 {
        font-size: 16px;
    }

    .branding-strategy p small {
        font-size: 13px;
    }

    .look-and-better {
        margin-right: 16px;
    }

    .branding-strategy .card-title {
        font-size: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .branding-strategy-list h6 {
        text-align: left;
    }

    .branding-strategy-list h6 {
        font-size: 14px;
    }
}


/* Tursted, Packaging CSS */
.trusted ul.li-icon, .packaging ul.li-icon {
    list-style-image: url('/images/li-icon.png');
    margin: 0;
    padding: 0 0;
}

.trusted ul li, .packaging ul li {
    padding: 10px 0;
}

.packaging {
    background-image: url("/images/side-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
}

.packaging a {
    color: black;
}

@media only screen and (max-width: 992px) {
    .trusted, .packaging {
        text-align: left;
        margin-left: 10px;
    } 

    .packaging ul li {
        list-style: none;
    }
}

@media only screen and (max-width: 760px) {
    .packaging {
        background-image: none;
    }
}

@media only screen and (max-width: 500px) {
    .trusted-image {
        position: relative;
        left: 150px;
        top: 100px
    }
}

/* Who Are We CSS */
.who-are-we ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.who-are-we ul li{
    padding: 10px 0;
}

.who-are-we-icon {
    width: 42.66px;
    height: 38.98px;
}

@media only screen and (max-width: 992px) {
    .who-are-we {
        text-align: left;
    }

    .who-we-are-text {
        margin-left: 25px;
    }

    .who-we-are-icon-container {
        margin-left: 10px;
    }

    .who-are-we .card-title {
        font-size: 16px;
    }

    .who-are-we img, li {
        font-size: 14px;
    }
}

/* Plan CSS */
.plan {
    background-image: url("/images/side-bg.png");
    background-repeat: no-repeat;
    background-position-x: left;
    padding-top: 80px;
}

.plan .read-more-text {
    font-size: 14px;
}

.plan .plan-card-1:hover h6, .plan .plan-card-1:hover small, .plan .plan-card-1:hover .read-more-text {
    color: rgb(6, 17, 234);
}

.plan .plan-card-1:hover .icon-1 {
    background-image: url("../images/one-blue.svg");
}

.plan .plan-card-2:hover h6, .plan .plan-card-2:hover small, .plan-card-2:hover .read-more-text {
    color: rgb(6, 17, 234);
}

.plan .plan-card-2:hover .icon-2 {
    background-image: url("../images/two-blue.svg");
}

.plan .plan-card-3:hover h6, .plan .plan-card-3:hover small, .plan-card-3:hover .read-more-text {
    color: rgb(6, 17, 234);
}

.plan .plan-card-3:hover .icon-3 {
    background-image: url("../images/three-blue.svg");
}

.one-two-three-icon {
    height: 88.01px;
    width: 88.01px;
    margin: auto;
    position: relative;
    top: 40px
}

.icon-1 {
    background-image: url("../images/one-black.svg");
}

.icon-2 {
    background-image: url("../images/two-black.svg");
}

.icon-3 {
    background-image: url("../images/three-black.svg");
}

@media only screen and (max-width: 760px) {
   .plan h4{
       font-size: 16px;
   }

   .plan p{
    font-size: 12px;
    }

    .plan {
        background-image: none;
    }    
}

/* Customers CSS */
.comma-icon {
    width: 54.99px;
    height: 37.16px;
}

#customer-1-upper-paragraph, 
#customer-2-upper-paragraph, 
#customer-3-upper-paragraph {
    display: block;
}

.card-position {
    position: relative;
    bottom: 100px;
}

.customers-title {
    position: relative;
    bottom: 90px;
    margin-top: 80px;
}

@media only screen and (max-width: 992px) {
    .card-position {
        position: static;
    }
    
}

.customers-wave {
    position: relative;
}

.customers-wave-1 {
    position: relative;
    bottom: 70px;
    left: -100px;
}

.customers-wave-2 {
    position: relative;
    bottom: 100px;
    left: 100%;
}

.customers-wave-3 {
    position: relative;
    left: 60%;
    top: 150px
}

/* Brands Logo Slider */
.gallery  {
    padding-top: 22px;
    height: 150px;
}

.gallery-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    text-align: center;
}

.flickity-page-dots .dot {
    display: none;
}

.flickity-prev-next-button {
    display: none;
}

@media only screen and (max-width: 992px) {
    .gallery-cell {
        width: 100%;
    }
}

/* Brands Logo Section */
.brands-logo .brand-logo {
    margin: 0 35px;
    cursor: pointer;
}

/* Noticed CSS */
.noticed .form-control {
    border: none;
    border-bottom: 2px solid #a3a3a3;
}

.noticed {
    background-image: url("/images/noticed-bg.png");
    background-repeat: no-repeat;
}

/* Footer CSS */
footer a {
    color: black;
}

footer a:hover {
    color: black;
}

.footer-logo {
    width: 70px;
    height: 70px;
}

.small-text-footer {
    font-size: 11px;
}

footer .table {
    margin: 0;
}

footer .table tr {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

footer .table td {
    padding: 5px 0;
}

.right-border {
    border-right: 2px solid lightgray;
}

@media only screen and (max-width: 992px) {
    footer {
        text-align: center;
    }

    .right-border {
        border: none;
    }

    .footer-address {
        margin-top: 10px;
    }
}


@media only screen and (max-width: 600px) {
    .footer-navbar {
        margin-right: 50px;
    }
}
